<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=pageTitle%></title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    


    <form class="row g-3" method="POST">
        <div class="col-md-6">
          <label for="albumName" class="form-label">Album Name</label>
          <input type="text" name= "albumName" class="form-control" id="albumname">
        </div>
        <div class="col-md-6">
          <label for="artist" class="form-label">Artist</label>
          <input type="text" name= "artist" class="form-control" id="artist">
        </div>
        <div class="col-12">
          <label for="imageUrl" class="form-label">Image Url</label>
          <input type="url" name= "imageUrl" class="form-control" id="imageUrl" placeholder="image url">
        </div>
        <div class="col-12">
          <label for="song" class="form-label">song</label>
          <input type="text" name="song" class="form-control" id="song" placeholder="song title">
        </div>
       
        <div class="col-12">
          <button type="submit" class="btn btn-primary">Add</button>
        </div>
      </form>
















</body>
</html>