<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=pageTitle%></title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <h1>Welcome To Albums</h1>
    <div class="card-group">
     <% albums.forEach(function(el) { %>

        <div class="card" style="width: 18rem;" key = <%= el.id %> >
            <div class="card-body">
                
              <h5 class="card-title"> <%= el.name %></h5>
              
              <a href="/albums/a<%= el.id %>">view album</a>
            </div>
        </div>

     <% }); %>
    </div>
</body>
</html>