<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= pageTitle %> </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <div class="card">
        <h5 class="card-header">Song Details</h5>
        <div class="card-body">
          <h5 class="card-title"><%= song.name %></h5>
          <p class="card-text">Thank you for checking out, please visit more</p>
          <a href="/albums %>" class="btn btn-primary">Back to albums</a>
        </div>
      </div>
</body>
</html>