body {
  text-align: -webkit-center;
}

h1{
  color: red;
}
.card{
  margin: 20px;
  box-shadow: 2px 2px #a39999;
}
p{
  margin: 40px;
}

a{
  padding: 10px;
  font-size: 19px;
  color: #2b53b1b5;
  text-decoration: none;
  font-style: italic;
}
.col-md-4{
  display: flex;
  justify-content: center;
  align-items: center;
}

.add{
  margin: 150px;
}

form{
  max-width: 450px;
  margin: 150px;
}